@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header{
    background-color: rgb(49, 47, 47);
    color: white;
    font-size: 26px;
    max-height: auto;
    display: flex;
    margin: auto;
    padding: 10px;
    gap: 1000px;
    justify-content: center;
    width: 100%;
}


.logo {
    border-radius: 9999px;
    max-width: 100px;
    height: auto;
    margin-top: 10px; 
}

body{
    background-color: #e7dcdc;
}

main h1 {
    text-align: center;
    margin-top: 50px;
}




.rec {
    border: none; 
    background: none; 
    background-color: rgb(129, 20, 20); 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    border-radius: 5px; 
    
}


.rec:hover {
    background-color: rgb(100, 15, 15); 
}


.rec:active {
    background-color: rgb(80, 10, 10); 
}


.rec:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(129, 20, 20, 0.5); 
}


.conf {
    border: none; 
    background: none; 
    background-color: rgb(29, 129, 20); 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px;  
    border-radius: 5px; 

}


.conf:hover {
    background-color: rgb(15, 100, 19); 
}


.conf:active {
    background-color: rgb(21, 80, 10); 
}


.conf:focus {
    outline: none; 
    box-shadow: 0 0 0 2px rgba(129, 20, 20, 0.5); 
}

.pedidos {
    background-color: #f8f8f8;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color: black;
    font-size: 25px;
    display: flex;
    gap: 60%;
    width: 500px;
    margin-left: 100px;
}

.pedidos2 {
    background-color: #f8f8f8;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    color: black;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    gap: 60%;
    width: 500px;
    margin-left: 100px;
   
}

.pago {
    border: none; 
    background: none; 
    background-color: rgb(28, 30, 28); 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px;  
    border-radius: 5px; 
    text-align: center;
}
