@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


h1{
    color: rgb(227, 219, 219);
    text-align: center;
    margin-top: 80px;
}

body {
    background-color: rgb(41, 40, 40);
    align-items: center;
    gap: 60px;
}

.user {
    background: none;
    border: none;
    background-color: rgb(223, 213, 213);
    width: 300px;
    height: 160px;
    border-radius: 90px;
    cursor: pointer;
}

.user:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
}


.user:active {
    background-color: #3e8e41; 
    transform: scale(0.95); 
}

.cozinha {
    background: none;
    border: none;
    background-color: rgb(223, 213, 213);
    width: 300px;
    height: 160px;
    border-radius: 90px;
    cursor: pointer;
}

.cozinha:hover {
    background-color: #45a049; 
    transform: scale(1.05); 
}


.cozinha:active {
    background-color: #3e8e41; 
    transform: scale(0.95); 
}

a{
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.hori {
    display: flex;
    gap: 150px;
    margin-top: 140px;
    justify-content: center;
}