@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

html {
    scroll-behavior: smooth;
}

.logo {
    border-radius: 9999px;
}

header {
    width: 100%;
    height: 420px;
    background-image: url('../static/imagens/interior-de-madeira-borrada-do-restaurante-em-cores-quentes-com-luz-de-bokeh_76000-522.avif');
    background-size: cover;
    background-position: center;
    color: rgb(28, 27, 27);
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome {
    background-color: #212020;
    width: 350px;
    border-radius: 80px;
    color: white;
}

.endereço {
    font-weight: 500;
    color: white;
}

.horario {
    background-color:rgb(22, 163, 74);
    border-radius: 80px;
    width: 230px;
    margin-top: 10px;
    margin-left: 15%;
}

header h1 {
    margin-top: 5px;
    margin-bottom: 8px;
    font-family: 'Arial Narrow Bold', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F6F7F8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.imagem {
    width: 100%;
}

#cardapio {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.hd1 {
    text-align: center;
    color: red;
    padding: 50px;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    display: flex;
    width: 40%;
    gap: 30px;
    height: 50px;
    align-items: center;
}

.box {
    border: 1px solid #0000;
}

.box a {
    text-decoration: none;
    color: black;
    border: 1px solid #0000;
}

/* Organizando o layout das pizzas em 5 linhas com 2 pizzas por linha */
.containerpizza {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px; /* Espaço entre as pizzas (colunas) */
}

.pitem {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.pimg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 15px;
}
.pinfo {
    display: flex;
    flex-direction: column;
}

.descricao{
    font-size: 14px;
    margin-bottom: 5px;
}
.preco {
    font-weight: bold;
    margin: 5px 0;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: auto;
}
.btn:hover {
    background-color: #45a049;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    padding: 5px 15px; 
    color: rgb(110, 110, 110);
    font-size: 14px;
    font-weight: bold;
    position: relative;
    height: 50px; 
    margin-bottom: 0px;
    width: 100%;
    cursor: pointer;
}

button{
    border: none;
    background: none;
    color: white;
}

#cart-btn{
    cursor: pointer;
    width: 100%;
}

.fixed{
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    z-index: 1000; 
    display: flex;
    justify-content: center;
  }

#bebidas {
    margin-bottom: 50px;
}

.carrinhocompleto {
        background-color: rgba(0, 0, 0, 0.6); 
        width: 100%; 
        height: 100%; 
        position: fixed; 
        top: 0; 
        left: 0; 
        z-index: 99; 
        display: none; 
        align-items: center; 
        justify-content: center; 
        font-family: Arial, Helvetica, sans-serif;


}

.carrinho {
    background-color: white;
    width: 680px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carrinho h2 {
    text-align: center;
    margin-top: 2px;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 0px;
}

#citens {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}


#ctotal {
    font-weight: bold;
}

.paragrafooo {
    font-weight: bold;
    margin-bottom: 2px;
}
.carrinho input {
    border: 2px solid #ccc;
    padding: 8px;
    border-radius: 12px;
    width: 100%;
    margin-bottom: 10px;
}

#erro {
    color: red;
    display: none;
    margin-bottom: 10px;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.botoes button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#fechar {
    background-color: white;
    color: black;
}

#finalizar {
    background-color: rgb(2, 161, 2);
    color: white;
}

#finalizar:hover {
    background-color: rgb(1, 79, 1);
    transition: background-color 0,3s;
}

#total {
    margin-bottom: 8px;
    font-size: 25px;
}

.itemincart{
    display: flex;
    width: 640px;
    justify-content: space-between;
 
    
}

.itin{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    margin: 20px;

}

.cartitems{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.remove{
    cursor: pointer;
    color: black;
}

.remove:hover{
    color: red;
}
