* {
    margin: 0;
    box-sizing: border-box;
}

.logo {
    border-radius: 9999px;
}

header {
    width: 100%;
    height: 420px;
    background-image: url('../static/imagens/interior-de-madeira-borrada-do-restaurante-em-cores-quentes-com-luz-de-bokeh_76000-522.avif');
    background-size: cover;
    background-position: center;
    color: rgb(28, 27, 27);
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome {
    background-color: #212020;
    width: 350px;
    border-radius: 80px;
    color: white;
}

.endereço {
    font-weight: 500;
    color: white;
}

.horario {
    background-color:rgb(22, 163, 74);
    border-radius: 80px;
    width: 230px;
    margin-top: 10px;
    margin-left: 15%;
}

header h1 {
    margin-top: 5px;
    margin-bottom: 8px;
    font-family: 'Arial Narrow Bold', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F6F7F8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.imagem {
    width: 100%;
}

#cardapio {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#cardapio h1 {
    text-align: center;
    color: red;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    display: flex;
    width: 40%;
    gap: 30px;
    height: 50px;
    align-items: center;
}

.box {
    border: 1px solid #0000;
}

.box a {
    text-decoration: none;
    color: black;
    border: 1px solid #0000;
}

/* Organizando o layout das pizzas em 5 linhas com 2 pizzas por linha */
.containerpizza {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px; /* Espaço entre as pizzas (colunas) */
}



.pizzaaas {
    text-align: center;
    margin-bottom: 20px; /* Espaçamento entre as linhas de pizzas */
    display: flex;
    flex-direction: row-reverse;
    width: 50%;
    margin: auto;

}

.pizzaaas img {
    width: 100%; /* A largura da imagem vai ocupar 100% da largura do contêiner da pizza */
    max-width: 180px; /* Limite para o tamanho da pizza */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 15px;
}

/* Ajuste no layout das caixas de navegação das pizzas e bebidas */
.box-pizza {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50%;
}

.pizzas {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
    justify-content: center;
}



#preco{
    display: flex;
    align-items: center;
}

    