* {
    margin: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

.logo {
    border-radius: 9999px;
}

header {
    width: 100%;
    height: 420px;
    background-image: url('../static/imagens/interior-de-madeira-borrada-do-restaurante-em-cores-quentes-com-luz-de-bokeh_76000-522.avif');
    background-size: cover;
    background-position: center;
    color: rgb(28, 27, 27);
    padding: 100px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nome {
    background-color: #212020;
    width: 350px;
    border-radius: 80px;
    color: white;
}

.endereço {
    font-weight: 500;
    color: white;
}

.horario {
    background-color:rgb(22, 163, 74);
    border-radius: 80px;
    width: 230px;
    margin-top: 10px;
    margin-left: 15%;
}

header h1 {
    margin-top: 5px;
    margin-bottom: 8px;
    font-family: 'Arial Narrow Bold', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    background-color: #F6F7F8;
    color: #333;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

.imagem {
    width: 100%;
}

#cardapio {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#cardapio h1 {
    text-align: center;
    color: red;
}

.imagem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

ul {
    display: flex;
    width: 40%;
    gap: 30px;
    height: 50px;
    align-items: center;
}

.box {
    border: 1px solid #0000;
}

.box a {
    text-decoration: none;
    color: black;
    border: 1px solid #0000;
}

/* Organizando o layout das pizzas em 5 linhas com 2 pizzas por linha */
.containerpizza {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colunas */
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px; /* Espaço entre as pizzas (colunas) */
}

.pitem {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin: 10px 0;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}
.pimg {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    margin-right: 15px;
}
.pinfo {
    display: flex;
    flex-direction: column;
}
.preco {
    font-weight: bold;
    margin: 5px 0;
}
.btn {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: auto;
}
.btn:hover {
    background-color: #45a049;
}

footer{
    background-color: rgb(209, 29, 29);
    width: 100%;

}

button{
    border: none;
    background: none;
    color: white;
}

.fixed{
    position: fixed; 
    bottom: 0; 
    left: 0; 
    width: 100%; 
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
    z-index: 1000; 
  }

  #bebidas {
    margin-bottom: 50px;
  }

.carrinhocompleto{
    background-color: #000000;
    width: 100%;
    height: 100%;

}