<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cozinha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cozinha.css') }}">
</head>
<body>
    <header>
        <h1>Pedidos</h1>

        <div><img class="logo" src="../static/imagens/chef-italiano-com-uma-ilustração-do-vetor-pizza-pizzaiolo-para-design-de-menu-embalagem-etiqueta-etc-184576035.webp" alt=""></div>
    </header>

    <main>
        <h1>Pendentes</h1>
        <!--Seção pedidos pendentes-->
        <section class="pedidos-pendentes">
            {% for pedido in pedidos %}
                <div class="pedido" data-id="{{ pedido.id }}">
                    <h2>Mesa: {{ pedido.mesa }}</h2>
                    <ul>
                        {% for item in pedido.pedido %}
                            <li class="text">
                                {{ item.quantidade }}x {{ item.item }} - R$ {{ "%.2f"|format(item.preco * item.quantidade) }}
                            </li>
                        {% endfor %}
                    </ul>
                    <p class="text"><strong>Total: R$ {{ pedido.preco }}</strong></p>
                    <div class="botoes">
                        <button class="aceitar">Aceitar</button>
                        <button class="recusar">Recusar</button>
                    </div>
                </div>
            {% endfor %}
        </section>

        <h1>Pedidos Aceitos</h1>
        <!--Seção pedidos aceitos-->
        <section class="pedidos-aceitos">
            
            
        </section>

        
    </main>

    <!--Seção de confirmação de ação-->
    <div id="mensagem" class="mensagem">
        O pedido foi <span id="acao"></span>
    </div>


    <script src="../static/cozinha.js"></script>
</body>
</html>