<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cozinha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cozinha.css') }}">
</head>
<body>
    <header>
        <h1>Pedidos</h1>

        <div><img class="logo" src="../static/imagens/chef-italiano-com-uma-ilustração-do-vetor-pizza-pizzaiolo-para-design-de-menu-embalagem-etiqueta-etc-184576035.webp" alt=""></div>
    </header>

    <main>
        <h1>Pendentes</h1>

        <div class="pedidos">
            <p>pedidos</p>
            <div class="botão">
                <div class="conf"><button>Confirmar</button></div>
                <div class="rec"><button>Recusar</button></div>
            </div>
        </div>

        <h1>Esqueci o outro nome</h1>

        <div class="pedidos2">
            <p></p>
            <p>pedidos</p>
            <div class="pago"><button>pedido pago</button></div>
        </div>
    </main>

    <ul>
        {% for pedido in pedidos %}
            <li>{{ pedido }}</li>
        {% endfor %}
    </ul>


</body>
</html>