<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzaria 3 Irmãos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inicial.css') }}">
  </head>
  <body>
    <div class="tit">
      <h1>Como deseja entrar no site da Pizzaria três irmãos ?</h1>
    </div>
    <div class="hori">
      <div><button class="user" id="cliente">Cliente</button></div>

      <div><button class="cozinha" id="cozinha">Cozinheiro</button></div>
  </div>
  <script src="inicial.js"></script>
  </body>
</html>