<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pizzaria 3 Irmãos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='inicial.css') }}">
  </head>
  <body>
    <div class="tit">
      <h1>Como deseja entrar no site da Pizzaria três irmãos ?</h1>
    </div>
    <div class="hori">
      <div><button class="user"><a href="/user">Cliente</a></button></div>

      <div><button class="cozinha"><a href="/cozinha">Cozinheiro</a></button></div>
  </div>
  </body>
</html>