<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
</head>
<body>
    <header>
        <h1>Pizzaria 3 Irmãos</h1>
    </header>

    <main>
        <!--Seção Imagem-->
        <div class="imagem">
            <img src="../static/imagens/receta-de-pizza-sin-horno.jpg" alt="">

        </div>

        <!--navegador pizzas e bebidas-->
        <nav>
            <ul>
                <div class="box">
                    <a href="#pizzas">pizzas</a>
                </div>
                <div class="box">
                    <a href="#bebidas">bebidas</a>
                </div>
            </ul>
        </nav>

        <!--Seção cardápio-->
        <div id="cardapio">
            <h1>Conheça nosso cardápio</h1>
            
            <section id="pizzas">
                <div class="containerpizza">
                    {% for row in cardapio.pizzas|batch(5) %}
                        <div class="row">
                            {% for pizza in row %}
                                <div class="pizzaaas">
                                    <div class="box-adjust">
                                        <h2>{{ pizza.nome }}</h2>
                                        <p class="descricao">{{ pizza.descricao }}</p>
                                        <p class="preco">R$ {{ "%.2f"|format(pizza.preco) }}</p>
                                    </div>
                                    <img src="{{ url_for('static', filename=pizza.imagem) }}" alt="{{ pizza.nome }}">
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </section>
            
            <h1>Bebidas</h1>

            <section id="bebidas">
                <div class="containerbebida">
                    {% for row in cardapio.bebidas|batch(3) %}
                        <div class="row">
                            {% for bebida in row %}
                                <div class="bebidaaas">
                                    <div class="box-adjust">
                                        <h2>{{ bebida.nome }}</h2>
                                        <p class="descricao">{{ bebida.descricao }}</p>
                                        <p class="preco">R$ {{ "%.2f"|format(bebida.preco) }}</p>
                                    </div>
                                    <img src="{{ url_for('static', filename=bebida.imagem) }}" alt="{{ bebida.nome }}">
                                </div>
                            {% endfor %}
                        </div>
                    {% endfor %}
                </div>
            </section>
            
        </div>
    </main>
    <footer>

    </footer>
    <script type="module" src="../statics/scripts.js"></script>
</body>
</html>