<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link rel="stylesheet" href="../statics/user.css">
</head>
<body>
    <header>
        <h1>Pizzaria 3 Irmãos</h1>
    </header>

    <main>
        <!--Seção Imagem-->
        <div class="imagem">

        </div>

        <!--navegador pizzas e bebidas-->
        <nav>
            <ul>
                <li>pizzas</li>
                <li>bebidas</li>
            </ul>
        </nav>

        <!--Seção cardápio-->
        <div id="cardapio">
            <section class="pizzas">

            </section>

            <section id="bebidas">

            </section>
            
        </div>
    </main>
    <footer>

    </footer>
    <script type="module" src="../statics/scripts.js"></script>
</body>
</html>