<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cardápio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='user.css') }}">
</head>
<body>
    <header>
        <h1>Pizzaria 3 Irmãos</h1>
    </header>

    <main>
        <!--Seção Imagem-->
        <div class="imagem">
            <img src="../static/imagens/receta-de-pizza-sin-horno.jpg" alt="">

        </div>

        <!--navegador pizzas e bebidas-->
        <nav>
            <ul>
                <div class="box">
                    <a href="#pizzas">pizzas</a>
                </div>
                <div class="box">
                    <a href="#bebidas">bebidas</a>
                </div>
            </ul>
        </nav>

        <!--Seção cardápio-->
        <div id="cardapio">
            
            <section id="pizzas">
                <h1>Pizzas</h1>
                {% for pizza in cardapio.pizzas %}
                    <h2>{{ pizza.nome }}</h2>
                    <p class="preco">{{ "%.2f"|format(pizza.preco) }}</p>
                    <img src="{{ pizza.imagem }}" alt="Imagem de {{ pizza.nome }}">
                {% endfor %}
            </section>

            <section id="bebidas">
                <h1>Bebidas</h1>
                {% for bebida in cardapio.bebidas %}
                    <h2>{{ bebida.nome }}</h2   >
                    <p class="preco">{{ "%.2f"|format(bebida.preco) }}</p>
                    
                {% endfor %}
            </section>
            
        </div>
    </main>
    <footer>

    </footer>
    <script type="module" src="../statics/scripts.js"></script>
</body>
</html>